build/index/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>default</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>
  <body class="page_index">
    <div class="main_wrap">
      <header class="header">
        <div class="header__container"> 
          <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
          <div class="header__burger-btn"><span></span><span></span><span></span></div>
          <ul class="header__menu header">
            <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
        </div>
      </header>
      <div class="collection__container pt_20rem">
        <div class="collection__img matchHeight">
          <div class="collection__title">Владелец коллекции</div>
          <div class="img__container"><img src="../img/collection_img.jpg" alt="">
            <div class="img__desc">
              <div class="img__name">Александр Гарез</div>
              <div class="img__position">бизнесмен, юрист, инвестор, коллекционер</div>
            </div>
          </div>
        </div>
        <div class="collection__content matchHeight">
          <div class="collection__desc">
            <p>Александр родился во Франции в 1968 году. В 1991 году получил степень магистра 			в Сорбонне по специальности «бизнес и международное право», год спустя прошел альтернативную службу в посольстве Франции в Москве, где работал в визовом отделе, параллельно изучая русский язык.</p>
            <p>В 1993 году получил дополнительное образование — DEA по международному праву 		в парижском университете Пантеон-Ассас и DESS по международному бизнес-праву 			в Нантер-ля-Дефанс. В том же году женился на Стефани Гарез (в девичестве Сикар) происходящей из старинной французской семьи.</p>
            <p>В 1995 году Александр открыл в Москве вместе с партнерами юридическое бюро Seeberg, Stabreit и Garese, среди клиентов которого были крупные российские бизнесмены...</p>
            <div class="hidden__text">
              <p>Александр родился во Франции в 1968 году. В 1991 году получил степень магистра 			в Сорбонне по специальности «бизнес и международное право», год спустя прошел альтернативную службу в посольстве Франции в Москве, где работал в визовом отделе, параллельно изучая русский язык.</p>
              <p>В 1993 году получил дополнительное образование — DEA по международному праву 		в парижском университете Пантеон-Ассас и DESS по международному бизнес-праву 			в Нантер-ля-Дефанс. В том же году женился на Стефани Гарез (в девичестве Сикар) происходящей из старинной французской семьи.</p>
              <p>В 1995 году Александр открыл в Москве вместе с партнерами юридическое бюро Seeberg, Stabreit и Garese, среди клиентов которого были крупные российские бизнесмены...</p>
            </div><span class="collection__link">Читать полностью</span>
          </div>
          <div class="collection__btns">
            <div class="btn _solid _red _mr">О коллекции</div>
            <div class="btn _border _red">Перейти в каталог</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container">
        <header class="header">
          <div class="header__container"> 
            <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
            <div class="header__burger-btn"><span></span><span></span><span></span></div>
            <ul class="header__menu footerHeader">
              <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
            <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
          </div>
        </header>
      </div>
    </footer>
    <link rel="stylesheet" href="../common.css">
    <!--inject:css-->
    <!--endinject-->
    <script src="../common.js" defer></script>
    <!--inject:js-->
    <!--endinject-->
  </body>
</html>

dev/pages/index/index.pug
extends ../../common/pug/base/base

block vars
	- var page_class = "page_index"

block content
	.collection__container.pt_20rem
		.collection__img.matchHeight
			.collection__title Владелец коллекции
			.img__container
				img(src="../img/collection_img.jpg", alt="")

				.img__desc
					.img__name Александр Гарез
					.img__position бизнесмен, юрист, инвестор, коллекционер

		.collection__content.matchHeight
			.collection__desc
				p Александр родился во Франции в 1968 году. В 1991 году получил степень магистра 			в Сорбонне по специальности «бизнес и международное право», год спустя прошел альтернативную службу в посольстве Франции в Москве, где работал в визовом отделе, параллельно изучая русский язык.

				p В 1993 году получил дополнительное образование — DEA по международному праву 		в парижском университете Пантеон-Ассас и DESS по международному бизнес-праву 			в Нантер-ля-Дефанс. В том же году женился на Стефани Гарез (в девичестве Сикар) происходящей из старинной французской семьи.

				p В 1995 году Александр открыл в Москве вместе с партнерами юридическое бюро Seeberg, Stabreit и Garese, среди клиентов которого были крупные российские бизнесмены...

				.hidden__text
					p Александр родился во Франции в 1968 году. В 1991 году получил степень магистра 			в Сорбонне по специальности «бизнес и международное право», год спустя прошел альтернативную службу в посольстве Франции в Москве, где работал в визовом отделе, параллельно изучая русский язык.

					p В 1993 году получил дополнительное образование — DEA по международному праву 		в парижском университете Пантеон-Ассас и DESS по международному бизнес-праву 			в Нантер-ля-Дефанс. В том же году женился на Стефани Гарез (в девичестве Сикар) происходящей из старинной французской семьи.

					p В 1995 году Александр открыл в Москве вместе с партнерами юридическое бюро Seeberg, Stabreit и Garese, среди клиентов которого были крупные российские бизнесмены...

				span.collection__link Читать полностью

			.collection__btns
				.btn._solid._red._mr О коллекции
				.btn._border._red Перейти в каталог
