build/catalog/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>default</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>
  <body class="card__page">
    <div class="main_wrap">
      <header class="header">
        <div class="header__container"> 
          <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
          <div class="header__burger-btn"><span></span><span></span><span></span></div>
          <ul class="header__menu header">
            <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
        </div>
      </header>
      <div class="card__modal">
        <div class="modal__fancy"></div>
        <div class="modal__container">
          <div class="card-modal__container collection__container card-page__container">
            <div class="modal__close"></div>
            <div class="card-page__image"><img src="../img/cardp.jpg" alt=""></div>
            <div class="card-page__content">
              <div class="cp__header">
                <div class="paint__info __light __s10 __dusty"><span class="paint__date">Год создания – 1961</span><span class="paint__id">Папка №1 <span class="id__div">&nbsp;&nbsp; / &nbsp;&nbsp; </span><span class="id__number">Инвентарный номер К-2</span></span></div>
                <div class="paint__title __s24 __medium">Плати налоги - спи спокойно</div>
                <div class="paint__creater __light __tundora __s14">Иванов А. М.</div>
              </div>
              <div class="cp__info">
                <div class="info__half">
                  <div class="__s14 __medium">Техника:</div>
                  <ul class="info__list __light __s12">
                    <li>бумага</li>
                    <li>тушь</li>
                    <li>литографский карандаш</li>
                    <li>тушь</li>
                    <li>перо</li>
                    <li>кисть</li>
                    <li>чернила</li>
                  </ul>
                </div>
                <div class="info__half">
                  <div class="__s14 __medium">Размер:</div>
                  <ul class="info__list __light __s12">
                    <li>26х25,3</li>
                  </ul>
                  <div class="__s14 __medium">Примечание:</div>
                  <ul class="info__list __light __s12">
                    <li>На обороте 2 колонки  22/III-45:</li>
                  </ul>
                </div>
              </div><a class="btn _border _yellow" href="">Купить</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collection__container catalog__container">
        <form class="search__wrap">
          <div class="search__container">
            <div class="search__col">
              <select class="search__select" data-placeholder="Год создания">
                <option value=""></option>
                <option value="1940-1950">1940-1950</option>
                <option value="1950-1960">1950-1960</option>
                <option value="1960-1970">1960-1970</option>
                <option value="1970-1980">1970-1980</option>
              </select>
            </div>
            <div class="search__col gray__circle">
              <select class="search__select" data-placeholder="Наличие фото в хорошем качестве Наличие фото в хорошем качестве">
                <option value=""></option>
                <option value="good">Наличие фото в хорошем качестве Наличие фото в хорошем качестве</option>
                <option value="bad">Наличие фото в плохом Наличие фото в хорошем качестве</option>
                <option value="normal">Наличие фото </option>
              </select>
            </div>
            <div class="search__col">
              <input class="search__input" type="search" placeholder="Начните вводить название...">
            </div>
          </div>
          <input class="search__btn" type="submit">
        </form>
        <div class="catalog">
          <div class="card __center">
            <div class="__s10 __dusty">1956</div>
            <div class="card__img"><img src="../img/card1.jpg" alt=""><span class="card__btn btn _border _white">Подробнее</span></div><a class="__s18 __medium __block" href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html">Испанская овечка</a>
            <div class="__s12 __light">Иванов А. М.</div>
          </div>
          <div class="card __center">
            <div class="__s10 __dusty">1956</div>
            <div class="card__img"><img src="../img/card1.jpg" alt=""><span class="card__btn btn _border _white">Подробнее</span></div><a class="__s18 __medium __block" href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html">Испанская овечка</a>
            <div class="__s12 __light">Иванов А. М.</div>
          </div>
          <div class="card __center">
            <div class="__s10 __dusty">1956</div>
            <div class="card__img"><img src="../img/card1.jpg" alt=""><span class="card__btn btn _border _white">Подробнее</span></div><a class="__s18 __medium __block" href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html">Испанская овечка</a>
            <div class="__s12 __light">Иванов А. М.</div>
          </div>
          <div class="card __center">
            <div class="__s10 __dusty">1956</div>
            <div class="card__img"><img src="../img/card1.jpg" alt=""><span class="card__btn btn _border _white">Подробнее</span></div><a class="__s18 __medium __block" href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html">Испанская овечка</a>
            <div class="__s12 __light">Иванов А. М.</div>
          </div>
          <div class="card __center">
            <div class="__s10 __dusty">1956</div>
            <div class="card__img"><img src="../img/card1.jpg" alt=""><span class="card__btn btn _border _white">Подробнее</span></div><a class="__s18 __medium __block" href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html">Испанская овечка</a>
            <div class="__s12 __light">Иванов А. М.</div>
          </div>
          <div class="card __center">
            <div class="__s10 __dusty">1956</div>
            <div class="card__img"><img src="../img/card1.jpg" alt=""><span class="card__btn btn _border _white">Подробнее</span></div><a class="__s18 __medium __block" href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html">Испанская овечка</a>
            <div class="__s12 __light">Иванов А. М.</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container">
        <header class="header">
          <div class="header__container"> 
            <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
            <div class="header__burger-btn"><span></span><span></span><span></span></div>
            <ul class="header__menu footerHeader">
              <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
            <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
          </div>
        </header>
      </div>
    </footer>
    <link rel="stylesheet" href="../common.css">
    <!--inject:css-->
    <!--endinject-->
    <script src="../common.js" defer></script>
    <!--inject:js-->
    <!--endinject-->
  </body>
</html>

dev/pages/catalog/catalog.pug
extends ../../common/pug/base/base 

block vars
	- var page_class = "card__page"


block content
	include ../../components/card-modal/_card-modal.pug

	.collection__container.catalog__container
		form.search__wrap
			.search__container
				.search__col
					select.search__select(data-placeholder="Год создания")
						option(value="")
						option(value="1940-1950") 1940-1950
						option(value="1950-1960") 1950-1960
						option(value="1960-1970") 1960-1970
						option(value="1970-1980") 1970-1980
				.search__col.gray__circle
					select.search__select(data-placeholder="Наличие фото в хорошем качестве Наличие фото в хорошем качестве")
						option(value="")
						option(value="good") Наличие фото в хорошем качестве Наличие фото в хорошем качестве
						option(value="bad") Наличие фото в плохом Наличие фото в хорошем качестве
						option(value="normal") Наличие фото 
				.search__col
					input(type="search" placeholder="Начните вводить название...").search__input
			input(type="submit").search__btn

		.catalog
			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.
