dev/pages/article/article.pug
extends ../../common/pug/base/base

block vars
	- var page_class = "page_article"

block content
	.collection__container
		.article__container
			.article__title.__s84.__regular О кукрыниксах
			.article__img-container.__horizontal
				.article__img
					img(src="../img/article-img.jpg", alt="")

				.article__img-text
					.__s10.__dusty.__mb2 1956
					.__s18.__medium.__block.__mb2 Испанская овечка
					.__s12.__light Иванов А. М.
				.linebg.__large

			.article__state.__s13.__light

				p Замечательное творческое содружество трех российских художников Михаила Васильевича Куприянова, Порфирия Никитича Крылова и Николая Александровича Соколова, объединившихся в единый творческий коллектив под именем Кукрыниксы, обрело всемирную известность. Талант Кукрыниксов многогранен: газетная и журнальная карикатура, живопись, скульптурные шаржи, плакат, станковая графика, книжная иллюстрация, театральные постановки – во все это Кукрыниксы внесли свой значительный вклад.

				p Само объединение трех художников в трудовой коллектив, спаянный единым методом мышления и творчества, - явление совершенно уникальное в истории изобразительного искусства.

				.article__img-container.__vertical
					.article__img
						img(src="../img/card1.jpg", alt="")

					.article__img-text.__center
						.__s10.__dusty.__mb2 1965
						.__s18.__medium.__block.__mb2 Ядерная война
						.__s12.__light.__mb2 Иванов А. М.

				p На основе глубокого внутреннего взаимопонимания три таланта – Куприянов, Крылов, Соколов – слились в одну творческую индивидуальность, четвертого художника – Кукрыниксы, который и является автором картин, книжных иллюстраций, шаржей, карикатур, плакатов. 

				p Совместное творчество Кукрыниксов началось еще в студенческие годы во Вхутемасе, куда они съехались из разных уголков страны: Куприянов из Казани, Крылов из Тулы, Соколов из Рыбинска. В 1922 году Куприянов и Крылов познакомились и стали работать вдвоем в стенгазете Вхутемаса как Кукры и Крыкуп. В это время Соколов, еще живя в Рыбинске, ставил на своих рисунках подпись Никс. С 1924 года присоединился Соколов, втроем они стали именовать себя «Кукрыниксы». 

				p К началу 1940-х годов Кукрыниксы уже состоялись как признанные мастера сатиры, в их арсенале средства от юмора до гневного обличительного сарказма. Кукрыниксы выработали свой, совершенно оригинальный, новаторский и узнаваемый метод.

				p Одновременно Кукрыниксы внесли много нового в традиции карикатуры. 

				p Один из распространенных принципов карикатуры – принцип трансформации. Художники разных веков широко используют его и, прибегая к метафоре, иносказанию, раскрывают человеческие характеры и поступки, показывая их через изображения животных, птиц, зверей, вещей. Простейший прием карикатуриста – изобразить зверя в человеческом обличье. Так, в средние века изображали монаха в виде волка с четками, молитвенником и в сутане.
				p Весьма важен для карикатуры принцип изобразительной гиперболы, преувеличения. Если, например, у человека непропорционально длинный крючковатый нос, слишком тонкие губы и раздвинутые вширь щеки, он легко становится добычей карикатуриста, который нарисует нос еще длиннее, губы – тоньше, а щеки – шире, и такое утрирование усилит сходство и создаст острую характеристику личности героя карикатуры.
				p Кукрыниксам не свойственно чисто внешнее преувеличение. Они всегда создают глубокий психологический образ героя. В их карикатурах приемы гиперболы и трансформации взаимосвязаны и переходят один в другой. Так, например, в их «Окнах ТАСС» двойное превращение марширующего гитлеровца в свастику, а свастики в березовый крест. Выдумка авторов здесь неистощима, сочетания рождаются самые неожиданные и невероятные, всегда объединенные внутренним смыслом и раскрывающие его с различных сторон.
				p У Кукрыниксов звери обладают необыкновенно выразительной мимикой, отражающей их поведение в изображенной ситуации: извивается и вопит от боли и страха тигр Гитлер, попавший в капкан Курской дуги. Щелкают зубами и яростно грызутся волки-колонизаторы вокруг иранской нефти. Жалобно смотрит покорно сидящий британский лев, подвергшийся финансовой «уолл-стрижке».
				p У Кукрыниксов шаржи и карикатуры всегда понятны и без текста, вместе с тем художники очень ценят меткие подписи – пословицы, стихи, сами придумывают неожиданные слова и сотрудничают с лучшими поэтами своего времени. 
				p В основе шуток и насмешек Кукрыниксов лежит серьезный смысл. Карикатуры Кукрыниксов многогранно ассоциативны и в то же время лаконичны. В них нет ничего лишнего. Каждая как будто несущественная деталь, каждый как будто случайный штрих на самом деле целенаправленны, содержат намек на смысл, который зачастую обнаруживается не сразу, а через многослойность образов. В процессе «разглядывания» сюжеты и смыслы карикатур «прочитываются» все глубже, рождая у зрителей новые ассоциации.
				p С началом Великой Отечественной войны Кукрыниксы выпускают агитационные материалы в виде плакатов и рисунков. Их «Окна ТАСС» - авторские плакаты большого формата, созданные в труднейшие годы войны, раскрывают природу фашизма, высмеивают бредни расовой идеологии фашизма, разоблачают лживость фашисткой пропаганды. При этом антифашисткие работы Кукрыниксов отличаются высоким художественным уровнем, выражают духовную силу и вселяют веру в победу. 

			.article__img-container.__horizontal.__padding
				.article__img
					img(src="../img/article-img.jpg", alt="")

				.article__img-text
					.__s10.__dusty.__mb2 1956
					.__s18.__medium.__block.__mb2 Плати налоги - 
						br
						|спи спокойно
					.__s12.__light Иванов А. М.
				.linebg.__small

			.article__state.__s13._light
				p С окончанием второй мировой войны, созданием Организации Объединенных Наций, призванной разрешать спорные международные вопросы мирным путем, казалось, что пришло время для художников отложить в сторону тему политики. 
				p К сожалению, исторический процесс пошел по другому вектору развития – гонка вооружений и теперь уже Холодная война, которая, возможно, продолжается по сей день, не позволили Кукрыниксам отказаться от политических тем. 
				p События тех лет сыграли определяющую роль для дальнейшего развития человечества. Освободительное движение в колониях за независимость, война во Вьетнаме, Карибский кризис, военные перевороты и региональные войны за ресурсы, рынки сбыта и сферы влияния, гонка вооружений – все это в той или иной степени актуально и сегодня. 
				p Так, например, многосторонне раскрыта в карикатурах Кукрыниксов суть плана Маршала в одноименной работе 1949 года. Кукрыниксы изображают фигуру тощего полувояки, полудипломата, который по-наполеоновски скрестил руки и поставил ногу на глобус – земной шар, где на всех континентах выведена одна и та же надпись – Америка. Европейский партнер услужливо подставляет этот глобус под американский военный башмак, а Гитлер и Геринг, возникающие в облаках сигарного дыма, аплодируют своему преемнику. 
				p Однажды Гегель высказался о закономерностях исторического развития: «великие всемирно-исторические события и личности повторяются дважды: первый раз как трагедия, а второй — как фарс». Эта фраза с некоторыми модификациями стала крылатой и известна нам как «История повторяется». 
				p История действительно повторяется, глобальное развитие человечества идет по спирали. В представленных работах Кукрыниксов серии «Холодная война» содержится масса исторических параллелей с текущими мировыми событиями, причем повторяются даже основные действующие лица. 
				p В нашем каталоге представлены работы Кукрыниксов серии «Холодная война» с 1945 по конец 80-х годов 20 века.

			.share__btns
				a(href="").share__btn.__vk
				a(href="").share__btn.__fb
				a(href="").share__btn.__ig

build/article/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>default</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>
  <body class="page_article">
    <div class="main_wrap">
      <header class="header">
        <div class="header__container"> 
          <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
          <div class="header__burger-btn"><span></span><span></span><span></span></div>
          <ul class="header__menu header">
            <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
        </div>
      </header>
      <div class="collection__container">
        <div class="article__container">
          <div class="article__title __s84 __regular">О кукрыниксах</div>
          <div class="article__img-container __horizontal">
            <div class="article__img"><img src="../img/article-img.jpg" alt=""></div>
            <div class="article__img-text">
              <div class="__s10 __dusty __mb2">1956</div>
              <div class="__s18 __medium __block __mb2">Испанская овечка</div>
              <div class="__s12 __light">Иванов А. М.</div>
            </div>
            <div class="linebg __large"></div>
          </div>
          <div class="article__state __s13 __light">
            <p>Замечательное творческое содружество трех российских художников Михаила Васильевича Куприянова, Порфирия Никитича Крылова и Николая Александровича Соколова, объединившихся в единый творческий коллектив под именем Кукрыниксы, обрело всемирную известность. Талант Кукрыниксов многогранен: газетная и журнальная карикатура, живопись, скульптурные шаржи, плакат, станковая графика, книжная иллюстрация, театральные постановки – во все это Кукрыниксы внесли свой значительный вклад.</p>
            <p>Само объединение трех художников в трудовой коллектив, спаянный единым методом мышления и творчества, - явление совершенно уникальное в истории изобразительного искусства.</p>
            <div class="article__img-container __vertical">
              <div class="article__img"><img src="../img/card1.jpg" alt=""></div>
              <div class="article__img-text __center">
                <div class="__s10 __dusty __mb2">1965</div>
                <div class="__s18 __medium __block __mb2">Ядерная война</div>
                <div class="__s12 __light __mb2">Иванов А. М.</div>
              </div>
            </div>
            <p>На основе глубокого внутреннего взаимопонимания три таланта – Куприянов, Крылов, Соколов – слились в одну творческую индивидуальность, четвертого художника – Кукрыниксы, который и является автором картин, книжных иллюстраций, шаржей, карикатур, плакатов. </p>
            <p>Совместное творчество Кукрыниксов началось еще в студенческие годы во Вхутемасе, куда они съехались из разных уголков страны: Куприянов из Казани, Крылов из Тулы, Соколов из Рыбинска. В 1922 году Куприянов и Крылов познакомились и стали работать вдвоем в стенгазете Вхутемаса как Кукры и Крыкуп. В это время Соколов, еще живя в Рыбинске, ставил на своих рисунках подпись Никс. С 1924 года присоединился Соколов, втроем они стали именовать себя «Кукрыниксы». </p>
            <p>К началу 1940-х годов Кукрыниксы уже состоялись как признанные мастера сатиры, в их арсенале средства от юмора до гневного обличительного сарказма. Кукрыниксы выработали свой, совершенно оригинальный, новаторский и узнаваемый метод.</p>
            <p>Одновременно Кукрыниксы внесли много нового в традиции карикатуры. </p>
            <p>Один из распространенных принципов карикатуры – принцип трансформации. Художники разных веков широко используют его и, прибегая к метафоре, иносказанию, раскрывают человеческие характеры и поступки, показывая их через изображения животных, птиц, зверей, вещей. Простейший прием карикатуриста – изобразить зверя в человеческом обличье. Так, в средние века изображали монаха в виде волка с четками, молитвенником и в сутане.</p>
            <p>Весьма важен для карикатуры принцип изобразительной гиперболы, преувеличения. Если, например, у человека непропорционально длинный крючковатый нос, слишком тонкие губы и раздвинутые вширь щеки, он легко становится добычей карикатуриста, который нарисует нос еще длиннее, губы – тоньше, а щеки – шире, и такое утрирование усилит сходство и создаст острую характеристику личности героя карикатуры.</p>
            <p>Кукрыниксам не свойственно чисто внешнее преувеличение. Они всегда создают глубокий психологический образ героя. В их карикатурах приемы гиперболы и трансформации взаимосвязаны и переходят один в другой. Так, например, в их «Окнах ТАСС» двойное превращение марширующего гитлеровца в свастику, а свастики в березовый крест. Выдумка авторов здесь неистощима, сочетания рождаются самые неожиданные и невероятные, всегда объединенные внутренним смыслом и раскрывающие его с различных сторон.</p>
            <p>У Кукрыниксов звери обладают необыкновенно выразительной мимикой, отражающей их поведение в изображенной ситуации: извивается и вопит от боли и страха тигр Гитлер, попавший в капкан Курской дуги. Щелкают зубами и яростно грызутся волки-колонизаторы вокруг иранской нефти. Жалобно смотрит покорно сидящий британский лев, подвергшийся финансовой «уолл-стрижке».</p>
            <p>У Кукрыниксов шаржи и карикатуры всегда понятны и без текста, вместе с тем художники очень ценят меткие подписи – пословицы, стихи, сами придумывают неожиданные слова и сотрудничают с лучшими поэтами своего времени. </p>
            <p>В основе шуток и насмешек Кукрыниксов лежит серьезный смысл. Карикатуры Кукрыниксов многогранно ассоциативны и в то же время лаконичны. В них нет ничего лишнего. Каждая как будто несущественная деталь, каждый как будто случайный штрих на самом деле целенаправленны, содержат намек на смысл, который зачастую обнаруживается не сразу, а через многослойность образов. В процессе «разглядывания» сюжеты и смыслы карикатур «прочитываются» все глубже, рождая у зрителей новые ассоциации.</p>
            <p>С началом Великой Отечественной войны Кукрыниксы выпускают агитационные материалы в виде плакатов и рисунков. Их «Окна ТАСС» - авторские плакаты большого формата, созданные в труднейшие годы войны, раскрывают природу фашизма, высмеивают бредни расовой идеологии фашизма, разоблачают лживость фашисткой пропаганды. При этом антифашисткие работы Кукрыниксов отличаются высоким художественным уровнем, выражают духовную силу и вселяют веру в победу. </p>
          </div>
          <div class="article__img-container __horizontal __padding">
            <div class="article__img"><img src="../img/article-img.jpg" alt=""></div>
            <div class="article__img-text">
              <div class="__s10 __dusty __mb2">1956</div>
              <div class="__s18 __medium __block __mb2">Плати налоги - <br>спи спокойно</div>
              <div class="__s12 __light">Иванов А. М.</div>
            </div>
            <div class="linebg __small"></div>
          </div>
          <div class="article__state __s13 _light">
            <p>С окончанием второй мировой войны, созданием Организации Объединенных Наций, призванной разрешать спорные международные вопросы мирным путем, казалось, что пришло время для художников отложить в сторону тему политики. </p>
            <p>К сожалению, исторический процесс пошел по другому вектору развития – гонка вооружений и теперь уже Холодная война, которая, возможно, продолжается по сей день, не позволили Кукрыниксам отказаться от политических тем. </p>
            <p>События тех лет сыграли определяющую роль для дальнейшего развития человечества. Освободительное движение в колониях за независимость, война во Вьетнаме, Карибский кризис, военные перевороты и региональные войны за ресурсы, рынки сбыта и сферы влияния, гонка вооружений – все это в той или иной степени актуально и сегодня. </p>
            <p>Так, например, многосторонне раскрыта в карикатурах Кукрыниксов суть плана Маршала в одноименной работе 1949 года. Кукрыниксы изображают фигуру тощего полувояки, полудипломата, который по-наполеоновски скрестил руки и поставил ногу на глобус – земной шар, где на всех континентах выведена одна и та же надпись – Америка. Европейский партнер услужливо подставляет этот глобус под американский военный башмак, а Гитлер и Геринг, возникающие в облаках сигарного дыма, аплодируют своему преемнику. </p>
            <p>Однажды Гегель высказался о закономерностях исторического развития: «великие всемирно-исторические события и личности повторяются дважды: первый раз как трагедия, а второй — как фарс». Эта фраза с некоторыми модификациями стала крылатой и известна нам как «История повторяется». </p>
            <p>История действительно повторяется, глобальное развитие человечества идет по спирали. В представленных работах Кукрыниксов серии «Холодная война» содержится масса исторических параллелей с текущими мировыми событиями, причем повторяются даже основные действующие лица. </p>
            <p>В нашем каталоге представлены работы Кукрыниксов серии «Холодная война» с 1945 по конец 80-х годов 20 века.</p>
          </div>
          <div class="share__btns"><a class="share__btn __vk" href=""></a><a class="share__btn __fb" href=""></a><a class="share__btn __ig" href=""></a></div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container">
        <header class="header">
          <div class="header__container"> 
            <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
            <div class="header__burger-btn"><span></span><span></span><span></span></div>
            <ul class="header__menu footerHeader">
              <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
            <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
          </div>
        </header>
      </div>
    </footer>
    <link rel="stylesheet" href="../common.css">
    <!--inject:css-->
    <!--endinject-->
    <script src="../common.js" defer></script>
    <!--inject:js-->
    <!--endinject-->
  </body>
</html>
