build/card-page/card-page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>default</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>
  <body class="card__page">
    <div class="main_wrap">
      <header class="header">
        <div class="header__container"> 
          <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
          <div class="header__burger-btn"><span></span><span></span><span></span></div>
          <ul class="header__menu header">
            <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
        </div>
      </header>
      <div class="collection__container card-page__container">
        <div class="card-page__image"><img src="../img/cardp.jpg" alt=""></div>
        <div class="card-page__content">
          <div class="cp__header">
            <div class="paint__info __light __s10 __dusty"><span class="paint__date">Год создания – 1961</span><span class="paint__id">Папка №1 <span class="id__div">&nbsp;&nbsp; / &nbsp;&nbsp; </span><span class="id__number">Инвентарный номер К-2</span></span></div>
            <div class="paint__title __s24 __medium">Плати налоги - спи спокойно</div>
            <div class="paint__creater __light __tundora __s14">Иванов А. М.</div>
          </div>
          <div class="cp__info">
            <div class="info__half">
              <div class="__s14 __medium">Техника:</div>
              <ul class="info__list __light __s12">
                <li>бумага</li>
                <li>тушь</li>
                <li>литографский карандаш</li>
                <li>тушь</li>
                <li>перо</li>
                <li>кисть</li>
                <li>чернила</li>
              </ul>
            </div>
            <div class="info__half">
              <div class="__s14 __medium">Размер:</div>
              <ul class="info__list __light __s12">
                <li>26х25,3</li>
              </ul>
              <div class="__s14 __medium">Примечание:</div>
              <ul class="info__list __light __s12">
                <li>На обороте 2 колонки  22/III-45:</li>
              </ul>
            </div>
          </div>
          <div class="cp__desc">
            <div class="cp__more __s17 __gold __medium">Подробнее</div>
            <div class="cp__article __s12 __boulder">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container">
        <header class="header">
          <div class="header__container"> 
            <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
            <div class="header__burger-btn"><span></span><span></span><span></span></div>
            <ul class="header__menu footerHeader">
              <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
            <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
          </div>
        </header>
      </div>
    </footer>
    <link rel="stylesheet" href="../common.css">
    <!--inject:css-->
    <!--endinject-->
    <script src="../common.js" defer></script>
    <!--inject:js-->
    <!--endinject-->
  </body>
</html>

dev/pages/card-page/card-page.pug
extends ../../common/pug/base/base 

block vars
	- var page_class = "card__page"


block content
	.collection__container.card-page__container
		.card-page__image
			img(src="../img/cardp.jpg", alt="")
		.card-page__content
			.cp__header
				div.paint__info.__light.__s10.__dusty
					span.paint__date Год создания – 1961
					span.paint__id Папка №1 
						span.id__div &nbsp;&nbsp; / &nbsp;&nbsp; 
						span.id__number Инвентарный номер К-2

				.paint__title.__s24.__medium Плати налоги - спи спокойно
				.paint__creater.__light.__tundora.__s14 Иванов А. М.

			.cp__info
				.info__half
					.__s14.__medium Техника:

					ul.info__list.__light.__s12
						li бумага
						li тушь
						li литографский карандаш
						li тушь
						li перо
						li кисть
						li чернила

				.info__half
					.__s14.__medium Размер:

					ul.info__list.__light.__s12
						li 26х25,3

					.__s14.__medium Примечание:

					ul.info__list.__light.__s12
						li На обороте 2 колонки  22/III-45:

			.cp__desc
				.cp__more.__s17.__gold.__medium Подробнее
				.cp__article.__s12.__boulder Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций
