dev/pages/posts/posts.pug
extends ../../common/pug/base/base 

block vars
	- var page_class = "page_index card__page post__page"

block content
	.__center.__s90.__medium.pt9 Статьи
	.collection__container.posts__container

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать
	.__center
		br
		br
		br
		.posts__btn.btn._border._yellow Смотреть ещё

build/posts/posts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>default</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  </head>
  <body class="page_index card__page post__page">
    <div class="main_wrap">
      <header class="header">
        <div class="header__container"> 
          <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
          <div class="header__burger-btn"><span></span><span></span><span></span></div>
          <ul class="header__menu header">
            <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
            <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
        </div>
      </header>
      <div class="__center __s90 __medium pt9">Статьи</div>
      <div class="collection__container posts__container">
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
        <div class="post">
          <div class="post__title __s30 __medium">Ваш шедевр готов!</div>
          <div class="post__date __light __s10 __dusty">01/08/2017</div>
          <div class="post__article __regular __s12">Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...</div>
          <div class="post__btn __s16 __red">Читать</div>
        </div>
      </div>
      <div class="__center"><br><br><br>
        <div class="posts__btn btn _border _yellow">Смотреть ещё</div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__container">
        <header class="header">
          <div class="header__container"> 
            <nav class="header__lang"><a class="active" href="">ru</a><span>/</span><a href="">en</a></nav>
            <div class="header__burger-btn"><span></span><span></span><span></span></div>
            <ul class="header__menu footerHeader">
              <li><a class="active" href="http://pic.wellwedo.com/templates/1944/build/index/index.html">Главная</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html">Каталог</a></li>
              <li><a href="http://pic.wellwedo.com/templates/1944/build/posts/posts.html">Cтатьи</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
            <div class="header__contacts"><a class="contacts__phone" href="tel:88003451256">8 800 345-12-56</a><br><a class="contacts__email" href="mailto:info@1944.ru">info@1944.ru</a></div>
          </div>
        </header>
      </div>
    </footer>
    <link rel="stylesheet" href="../common.css">
    <!--inject:css-->
    <!--endinject-->
    <script src="../common.js" defer></script>
    <!--inject:js-->
    <!--endinject-->
  </body>
</html>
